*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

body {
    font-size: 1rem;
    font-family: "Heebo", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #666565;
    background-color: #EFFDF5;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary: #00B98E;
    --secondary: #FF6922;
    --light: #EFFDF5;
    --dark: #0E2E50;
}

.btn.btn-primary,
.btn.btn-secondry {
    color: #FFFFFF;
}

.icon {
    padding: 8px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border: 1px dashed var(--primary);
}

.nav-bar {
    position: relative;
    margin-top: 45px;
    padding: 0 3rem;
    transition: 0.5s;
    z-index: 999;
}

.navbar {
    box-shadow: 0px 4px 28px 2px rgba(0,0,0,0.08);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: '\f107';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 5px;
    transition: .5s;
}


.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar-light .navbar-brand {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.nav-bar.sticky-top {
    position: sticky;
    padding: 0;
    z-index: 999;
}

/*** Header ***/


.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav button.owl-prev {
    margin: 7px 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background-color: var(--primary);
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    font-size: 20px;
    font-weight: normal;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.header-carousel .owl-nav button.owl-next {
    margin: 7px 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background-color: var(--primary);
    border-radius: 40px;
    font-size: 20px;
    transition: .5s
}

.header-carousel .owl-nav div.owl-dots {
   max-height: 0;
}

.search-box {
    padding: 35px;
    animation-delay: 0.1s;
}

.cat-item {
    cursor: pointer;
}

.cat-item div {
    background-color: #FFFFFF;
    border: 1px dashed rgba(0,0,0,.3);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.cat-item:hover div {
    background-color: var(--primary);
    border-color: transparent;
}

.cat-item div * {
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.cat-item:hover .icon {
    background-color: #FFFFFF !important;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.cat-item:hover div * {
    color: #FFFFFF !important;
}

.about-img {
    position: relative;
    overflow: hidden;
}

.about-img img {
    position: relative;
    z-index: 2;
}

.about-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    transform: skew(20deg);
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    z-index: 1;
}

.about-title h2 {
    font-size: calc(1.375rem + 1.5vw);
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

.nav-pills .nav-item .btn {
    color: var(--dark);
}

.nav-pills .nav-item .btn:hover,
.nav-pills .nav-item .btn.active {
    color: #FFFFFF;
}

.property-item {
    box-shadow: 0 0 30px rgba(0,0,0,.08);
}


.property-item img {
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.property-item:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.property-item .border-top {
    border-top: 1px dashed rgba(0,185,142,.3) !important; 
}

.property-item .border-end {
    border-right: 1px dashed rgba(0,185,142,.3) !important;
}

.dash-border {
    border: 2px dashed rgba(0,185,142,.3);
}

.btn-square {
    width: 38px;
    height: 38px;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.team-item {
    box-shadow: 0 0 30px rgba(0,0,0,.08);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.team-item .btn {
    color: var(--primary);
    background-color: #FFFFFF;
    box-shadow: 0 0 30px rgba(0,0,0,.15);
}

.team-item .btn:hover {
    color: #FFFFFF;
    background-color: var(--primary);
}

.team-item:hover {
    border-color: var(--secondary) !important;
}

.team-item:hover .bg-primary {
    background: var(--secondary) !important;
}

.team-item:hover .bg-primary i {
    color: var(--secondary) !important;
}

.testimonial-carousel {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 100%;
    height: 40px;
    top: calc(50% - 20px);
    left: 0px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.testimonial-carousel .owl-nav button.owl-prev,
.testimonial-carousel .owl-nav button.owl-next {
    position: relative;
    width: 40px;
    height: 40px;
    background: var(--primary);
    color: #FFFFFF;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    font-size: 15px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.footer .btn.btn-social {
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    color: var(--light);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
    border-color: var(--light);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.footer .btn.btn.btn-link::before {
    content: '\f105';
    position: relative;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .form-control {
    border-color: rgba(255,255,255,0.5);
}

.footer .copyright { 
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-left: 15px;
    border-right: 1px solid rgba(255,255,255,.1);
    padding-right: 15px;
}

.footer .footer-menu a:last-child{
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
}

#progress {
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}

#progress-value {
    display: block;
    color: var(--dark);
    background-color: var(--light);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    display: grid;
    place-items: center;
    font-size: 25px;
}

.preloader {
   position: fixed;
   top: 0;
   left: 0;
   background: #FFFFFF;
   height: 100%;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 10000;
}

.disappear {
    animation: vanish 1s forwards;
    -webkit-animation: vanish 1s forwards;
}

@keyframes vanish {
    100%{
        opacity: 0;
        visibility: hidden;
    }
}


@media (min-width: 576px) {
    .testimonial-carousel {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}


@media (max-width: 768px) {
    .header-carousel .owl-nav {
        left: 25px;
    }
}


@media (max-width: 991.98px) {
    .nav-bar  {
        margin: 0;
        padding: 0;
    }

    .navbar-light .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        top: 100%;
        margin-top: 0;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        opacity: 1;
        transition: .5s;
    }

    .header {
        margin-top: -120px;
    }

    
}
